
@import url();

a{
    color: blue;
    text-decoration-line: line-through underline overline;
    text-decoration-style: dotted;
    text-shadow: 0px 0px 3px red;
    font-family: 'Merriweather';
}
p{
    text-indent: 50px;
    word-spacing: 5px;
    line-height: 1.5;
    white-space: pre-line;
    font-family: 'Borel',cursive;

}